body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Landing wrapper */
#landing-wrapper {
  background-color: red;
}

/* About wrapper */
#about-wrapper {
  background-color: orange;
}

/* Skills wrapper */
#skills-wrapper {
  background-color: yellow;
}

/* Experience wrapper */
#experience-wrapper {
  background-color: green;
}

/* Contact wrapper */
#contact-wrapper {
  background-color: indigo;
}